attrs==23.2.0
black==24.4.2
build==1.2.1
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
docutils==0.21.2
github-to-sqlite==2.9
immutabledict==4.2.0
importlab==0.8.1
iniconfig==2.0.0
Jinja2==3.1.4
libcst==1.4.0
MarkupSafe==2.1.5
msgspec==0.18.6
mypy-extensions==1.0.0
ninja==1.11.1.1
pathspec==0.12.1
pluggy==1.5.0
pydot==2.0.0
Pygments==2.18.0
pyparsing==3.1.2
pyroma==4.2
pytest==8.3.1
python-dateutil==2.9.0.post0
pytype==2024.4.11
PyYAML==6.0.1
requests==2.32.3
requests-mock==1.12.1
ruff==0.5.2
six==1.16.0
soupsieve==2.5
sqlite-fts4==1.0.3
sqlite-utils==3.36
tabulate==0.9.0
toml==0.10.2
types-python-dateutil==2.9.0.20240316
types-requests==2.32.0.20240712
typing_extensions==4.12.2
